#body{
    background: #b6b6b6;
    margin:0;
    padding:0;

}

#login_form{
    width:300px;
    background:#f0f0f0;
    border: 1px solid #ccc;
    margin:250px auto 0;
    padding: 1em;
}

h1, h2, h3, h4{
    margin-top:0;
    text-align:center;
}

input[type=text], input[type=password]{
    display:block;
    margin:0 0 1em 0;
    width:280px;
}

input[type=submit], form a{
    border:none;
    margin-right:1em;
    padding: 6px;
    text-decoration: none;
    font-size:12px;
    background: #348075;
    color:white;
}

.user-info{
    color:#fefefe;
}

.pagination{
    clear:both;
    display:block;
    margin:0 auto;
    text-align:center;
}

.pagination a, .pagination strong{
    background:#e3e3e3;
    color:#292929;
    border:1px solid #ccc;
    text-decoration:none;
    padding: 4px 7px;
}

.pagination strong, .pagination a:hover{
    font-weight:normal;
    background:#cac9c9;
}

.item-list .description{
    max-width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-inverse .navbar-nav > li > .admin-link{
    color:#d43f3a;
}

.alert{
    position:fixed;
    bottom:20px;
    z-index:999;

}

.admin-sidebar ul, .category-select{
    list-style:none;
    margin:0;
    padding:0;
}

.admin-sidebar ul > li > i{
   float:left;
    padding:10px;
}

.admin-sidebar ul > li > a{
    font-weight:bold;
    margin-left:20px;
    display:block;
    padding:10px;
}

.admin-sidebar ul > li > a:hover{
    text-decoration:none;
}

.admin-sidebar ul > li{

    border:1px solid #ccc;
}

.admin-sidebar ul > li:hover{
    background:#ccc;
}

.table{
    margin:20px;
    border:1px solid #ccc;
}

.rate{
    margin-left:10px;
}

.rating-icons{
    float:right;
}